*{
    margin: 0;
}

body{
    background-color: rgb(206, 206, 206);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ff0000; /* RGB -> Red Green Blue */
    border: 1px solid gray;
    text-align: center;
}

main p {
    font-weight: bold;
}

p {
    border: 1px solid gray;
    text-align: justify;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: gray;
}

main p a {
    text-decoration: underline;
}

footer {
    background-color: white;
}

footer a {
    font-weight: bold;
}

main p a:hover {
    text-decoration: underline;
}