main #principal {
    height: 400px;
    margin: 0 auto;
    background-image: url("../img/download.jfif");
    background-position: center;
    line-height: 25px;
    text-align: center;
}
main #principal div{
    background-color: #0009;
    color: white;
    max-width: 80%;
    margin: 0 auto ;
    
}
#principal div h1{
    font-size: 30px; 
    line-height: 50px;   
}
main #artigos{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
#artigos h1{
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 5px;
}
main article{
    flex-basis: 375px;
    display: inline-block;
    flex-grow: 1;
    margin: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 3px 3px 8px lightgray;
}
article div.img{
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 8px 8px 0 0;
}
#i1{
    background: url("../img/morador-chega-do-trabalho-e-encontra-tamandua-na-calcada-de-casa-em-linhares.jpg") center;
    background-size: cover;
}
#i2{
    background: url("../img/download.jfif") center;
    background-size: cover;
}
#i3{
    background: url("../img/_renderização-3d-de-um-chimpanzé-usando_26627493_high.jpg") center;
    background-size: cover;
}
#i4{
    background: url("../img/Anor-Londo1.webp") center;
    background-size: cover;
}
